<app-wrapper
  [isOpen]="isOpen"
  [leftWidth]="100"
  [rightWidth]="66.5"
  title="Kidney Stone Transplant"
>
  <div left>
    <mat-card class="mat-elevation-z0 outline">
      <mat-card-title-group>
        <mat-card-title class="mat-h2 champions">Transplant Champions</mat-card-title>
        <mat-card-subtitle>
          <mat-chip-list>
            <mat-chip>
              <img matChipAvatar src="https://raw.githubusercontent.com/Matthew-The-Developer/file-uploader/master/src/assets/jane.jpg"/>
              Jane Doe
            </mat-chip>
            <mat-chip>
              <img matChipAvatar src="https://raw.githubusercontent.com/Matthew-The-Developer/file-uploader/master/src/assets/mike.jpg"/>
              Mike Mikerson
            </mat-chip>
          </mat-chip-list>
        </mat-card-subtitle>
        
        <div class="actions">
          <mat-chip-list [selectable]="false">
            <mat-chip disableRipple class="green">EPTS Score: 100%</mat-chip>
          </mat-chip-list>
  
          <button mat-stroked-button class="add">
            <mat-icon>add</mat-icon>
            Add Transplant Center
          </button>
        </div>
      </mat-card-title-group>
    </mat-card>

    <app-transplant-center
      *ngFor="let transplant of transplants"
      (onOpen)="open($event)"
      (onAttachFile)="openDocumentModal($event)"
      [center]="transplant"
    ></app-transplant-center>
  </div>

  <div right>
    <app-transplant-form (cancel)="onCancel()" [transplant]="selectedTransplant"></app-transplant-form>
  </div>
</app-wrapper>
