:host {
  display: flex;
  flex-direction: column;

  app-wrapper {
    width: 95%;
    margin: 1rem auto;

    .outline {
      border: 1px solid lightgray;
    }
    
    .champions {
      margin: 0;
    }

    button.mat-stroked-button {
      padding-left: 12px;

      mat-icon {
        font-size: 150%;
        vertical-align: middle;
      }
    }

    .actions {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;

      .green {
        background-color: #5cb85c;
        color: white;
      }

      .add {
        margin-top: 12px;
      }
    }
    
    .center {
      margin-top: 16px;

      mat-card-title {
        margin: 0;
      }

      mat-card-subtitle {
        margin: 0;
      }

      mat-card-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }

      .tasks {
        margin-top: 12px;
        padding-left: 16px;
        
        .label {
          margin: 0;
        }

        .active {
          background-color: #f5eb89;
        }
        .overdue {
          background-color: #d32f2f;
          color: white;
        }
        .pending {
          background-color: #43ccf7;
          color: white;
        }
        .completed {
          background-color: #5cb85c;
          color: white;
        }
        .skipped {
          background-color: #6c757d;
          color: white;
        }
        .due-soon {
          background-color: #ffa500;
          color: white;
        }
      }

      .documents {
        margin-top: 12px;
      }
    }
  }
}
