mat-card.base {
  padding: 0;

  mat-card-header {
    mat-card-title {
      margin: 0;
    }

    mat-card-subtitle {
      margin: 0;
    }
  }

  .example-form {
    width: 100%;
    padding: 16px 0;
    
    .example-full-width {
      width: 100%;
    }

    .example-half-width {
      width: 50%;
    }
  }

  td {
    width: 50%
  }

  td.coordinator {
    vertical-align: top;

    mat-card {
      padding: 8px;
  
      .example-header-image {
        background-image: url('https://raw.githubusercontent.com/Matthew-The-Developer/file-uploader/master/src/assets/inigo-montoya.jpg');
        background-position: center center;
        background-size: cover;
      }
  
      mat-card-title {
        margin: 0;
      }
  
      mat-card-subtitle {
        margin: 0;
      }
    }
  }

  .example-margin {
    margin-bottom: 16px;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;

    mat-icon {
      font-size: 150%;
    }
  }
}

.outline {
  border: 1px solid lightgray;
}