mat-card {
  padding: 0 0 24px 0;
  border-radius: 0;

  mat-toolbar {
    height: 36px;
    padding-right: unset;
    cursor: grab;

    .mat-subheading-1 {
      margin-bottom: unset;
    }
  }

  mat-card-content {
    padding: 0 16px 16px 16px;
    margin: 0;

    .row {
      display: flex;
      align-items: center;
      padding: 12px 0;

      p {
        color: rgba(0, 0, 0, 0.35);
        margin: 0;
      }
    }

    mat-list {
      padding: 8px 0;

      .file {
        .name {
          flex: 1 1 20%;
        }

        div {
          display: flex;
          align-items: center;
        }
      }
  
      .no-files {
        div {
          margin: 0 auto;
  
          b {
            color: rgba(0, 0, 0, 0.35);
          }
        }
      }
    }
  }

  mat-card-actions {
    padding: 0 24px 0 24px;
  }
}