<mat-card 
  cdkDrag
  cdkDragRootElement=".document-uploader-dialog-container"
  cdkDragBoundary=".cdk-overlay-container"
>
  <mat-toolbar color="primary" cdkDragHandle>
    <span class="mat-subheading-1">Document Attachment</span>

    <span spacer></span>

    <button mat-button mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>

  <mat-card-content>
    <div class="row">
      <p class="mat-body-strong">{{ files.length }} Files Selected</p>

      <span spacer></span>

      <input #uploaderInput (change)="onFilesSelected($event)" type="file" multiple hidden>
      <button 
        (click)="uploaderInput.click()"
        color="accent"
        mat-button 
      >
        Select Files
      </button>
    </div>

    <mat-divider></mat-divider>

    <mat-list>
      <mat-list-item *ngFor="let file of files" class="file">
        <div mat-line>
          <div class="name">
            <a (click)="openViewDocument(file)" class="name">{{ file.name }}</a>
          </div>
          
          
          <button [matMenuTriggerFor]="menu" mat-button>
            {{ file.documentType }}
            <mat-icon inline="true">arrow_drop_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button 
              *ngFor="let type of medicalDocumentTypes"
              (click)="setDocumentType(file, type)"
              mat-menu-item
            >
              {{ type }}
            </button>
          </mat-menu>

          <span spacer=""></span>

          <button 
            (click)="remove(file)"
            color="warn"
            mat-icon-button 
          >
            <mat-icon>close</mat-icon>
          </button>
          <button
            *ngIf="!file.attached"
            (click)="attach(file)"
            color="accent"
            mat-flat-button
          >
            Attach
          </button>
        </div>
      </mat-list-item>

      <mat-list-item *ngIf="files.length < 1" class="no-files">
        <div mat-line>
          <b class="mat-body-strong">No files currently selected</b>
        </div>
      </mat-list-item>
    </mat-list>

    <mat-divider></mat-divider>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-stroked-button mat-dialog-close>Cancel</button>
    <button (click)="attachAll()" mat-flat-button color="primary">{{ files.length > 1 ? 'Attach All' : 'Attach' }}</button>
  </mat-card-actions>
</mat-card>
